[submodule "concierge"]
	path = concierge
	url = git@github.com:uwine-fr/concierge.git
[submodule "uwstyle"]
	path = uwstyle
	url = git@github.com:uwine-fr/uwstyle.git
[submodule "videos"]
	path = videos
	url = git@github.com:uwine-fr/videos.git
[submodule "web_treeview_clickable"]
	path = web_treeview_clickable
	url = git@github.com:uwine-fr/web_treeview_clickable.git
[submodule "events"]
	path = events
	url = git@github.com:uwine-fr/events.git
[submodule "portfolio_extras"]
	path = portfolio_extras
	url = git@github.com:uwine-fr/portfolio_extras.git
[submodule "stock_extras"]
	path = stock_extras
	url = git@github.com:uwine-fr/stock_extras.git
[submodule "uwine-events"]
	path = uwine-events
	url = git@github.com:uwine-fr/uwine-events.git
[submodule "gca"]
	path = gca
	url = git@github.com:uwine-fr/gca.git
[submodule "web_advanced_search"]
	path = web_advanced_search
	url = git@github.com:uwine-fr/web_advanced_search.git
[submodule "shop_manager"]
	path = shop_manager
	url = git@github.com:uwine-fr/shop_manager.git

[submodule "uwine-fr/reporting-engine"]
	path = uwine-fr/reporting-engine
	url = git@github.com:uwine-fr/reporting-engine.git
	branch = 12.0
