[submodule "concierge"]
	path = concierge
	url = git@github.com:uwine-fr/concierge.git
[submodule "uwstyle"]
	path = uwstyle
	url = git@github.com:uwine-fr/uwstyle.git
[submodule "videos"]
	path = videos
	url = git@github.com:uwine-fr/videos.git
[submodule "web_treeview_clickable"]
	path = web_treeview_clickable
	url = git@github.com:uwine-fr/web_treeview_clickable.git
[submodule "events"]
	path = events
	url = git@github.com:uwine-fr/events.git
[submodule "uwine-events"]
	path = uwine-events
	url = git@github.com:uwine-fr/uwine-events.git
