[submodule "concierge"]
	path = concierge
	url = git@github.com:uwine-fr/concierge.git
[submodule "uwstyle"]
	path = uwstyle
	url = git@github.com:uwine-fr/uwstyle.git
[submodule "videos"]
	path = videos
	url = git@github.com:uwine-fr/videos.git
